#title,
#hint {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;

  width: 100vw;

  font-family: Lexend, sans-serif;
  color: #f5f5f5;

  z-index: 1;
}

#title {
  top: -1rem;

  padding-bottom: 2rem;

  font-weight: 200;
  font-size: clamp(1rem, 2.5vw + 0.5rem ,7rem);

  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 50px 40px rgba(0, 0, 0, 0.8);
}

#hint {
  bottom: 0;

  width: fit-content;

  padding-top: 1rem;
  padding-bottom: 0.75rem;
  padding-inline: 10rem;

  font-weight: 200;
  font-size: clamp(0.8rem, 2.5vw + 0.1rem ,3rem);

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.7);
}
