:root {
  --t-h-min: 80; /* Altura mínima do balcão/mesa em pixels */
  --t-h-max: 150; /* Altura máxima do balcão/mesa em pixels */
}

/* ===============================================================
   1. Estilo do Contêiner Principal (Palco)
   =============================================================== */


.table {
  /* POSICIONAMENTO */
  position: fixed;
  bottom: 0;
  left: 0;

  /* DIMENSÃO */
  width: 100vw;
  height: calc(
    var(--t-h-min) * 1px +
    (var(--t-h-max) - var(--t-h-min)) * var(--fluid-scale-factor)
  );

  /* FUNDO E BORDA */
  background: 
    url("../../assets/img/table.jpg") 
    center / 15%;
  border-top: 3px solid #241810;
}

